footer.row
    div.container
        p 
            a(href='https://github.com/jamjar919/sriracha') Backend (Github)
            span    |      
            a(href='https://github.com/NTag/sriracha-app') App (Github)