<style>
.container {
  margin-top: 30px;
}
.detailcontainer {
  text-align: center;
  padding: 20px 0px;
}
.cardthang {
  margin: 10px 0px;
}

/*upload images*/

#upload_img_container {
	margin: 0px 0px 20px 0px;
	min-height: 250px;
	width: 100%;
	border: 3px dashed #ccc;
	text-align: center;
}

.img_uploading{
  -webkit-transition: background 0.5s ease-in-out;
  -ms-transition:     background 0.5s ease-in-out;
  transition:         background 0.5s ease-in-out;
}

.pulsebackground{
      background: #ffbc6b;
  }

.img_upload_done {
	border: 1px solid #a1e0a8;
	background-color: #a1e0a8;
}
#input_images{
	display: block;
	padding: 10px 0px;
	margin: 0px auto;
	width: 300px;
}
img.img_preview{
		display: inline-block;
		margin: 10px;
		padding: 5px;
		max-height: 100px;
		max-width: 100px;
	}
</style>
