doctype html
html(lang="en")
	head
		title Oh No Baby What! Is You Doin??? 🙈
		include includes/head
	body
		.container
			.jumbotron.homejumbo
				h1.frontpage-logo-banner ohnobabywhatisyoudoing.com
				img(src='/ohno.png' height='400px')
				p
					| This website is a holy center for embarrassment. 🙈
				p.center
