extends /includes/layout

block container
	p #{user}
	.container
	.starter-template
		.detailcontainer
			h1 #{user}
			p
			|	This is a place to see #{user}'s secrets. You get to see a new secret of mine because I overspent.
		.card
			.card-block
				h4.card-title Card title
				h6.card-subtitle.mb-2.text-muted Card subtitle
				p.card-text
					| Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
				|  
				a.card-link(href='#') Card link
				|  
				a.card-link(href='#') Another link
